[Unit]
Description=febdrv on %I

#The following lines are needed if febdrv is located on /home/nfs
Requires=home-nfs.mount
After=home-nfs.mount

[Service]
Type=simple
EnvironmentFile=/etc/febdrv.%I.conf
SyslogIdentifier=febdrv %I
ExecStop=/usr/bin/systemctl stop febdrv-main

#update path to the executable
ExecStart=/path_to_febdrv/febdrv_standalone %I 300 $ZMQ_PORT


[Install]
RequiredBy=febdrv-main.service

